<h2>月次販売履歴 - 一覧</h2>
<table border="1">
    <thead>
        <tr>
            <th>販売経路</th>
            <th>商品</th>
            <th>モデル</th>
            <th>購入日</th>
            <th>購入数</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row.channel }}</td>
            <td>{{ row.product }}</td>
            <td>{{ row.model }}</td>
            <td>{{ row.purchase_date }}</td>
            <td>{{ row.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
